html {
  background-color: black;
}
.background {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-image: url(img/ricknmorty.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  z-index: 10;
}
#wrapper {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
.bubble {
  width: 25em;
  height: 15em;
}
