* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

body {
  background-color: black;
  overflow: hidden;
}

.outerGrid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "a b c d e"
    "f g h i j"
    "k l m n o";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.background {
  grid-row: a / span 3;
  grid-column: a / span 5;
  background-image: url(img/ricknmorty.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: inherit;

  display: grid;
  grid-template-areas:
    "a b c d e"
    "f g h i j"
    "k l m n o";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  z-index: -1;
}

#wrapper {
  grid-area: h;
  z-index: -10;
}

.bubble {
  height: 16.6rem;
  width: 28.8rem;
}

button {
  grid-area: a;
  background-color: #3b3b3b;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 100%;
}

/*joke api*/
#jokeWrapper {
  max-width: 18em;
  z-index: 12;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

#jokeWrapper:after {
  content: "";

  color: transparent;
  border: 20px solid;
  top: 100%;
  border-top: 23.3px solid #ffffff;
}

/*advice api*/
@font-face {
  src: url(/fonts/SimpleStitch-8W2g.ttf);
  font-family: stitch;
}

.stitch-board {
  grid-area: c;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (1, 1fr);

  z-index: 11;
}

.advice .cross-stitch {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.advice {
  grid-column: 2;
  grid-row: 1;
  font-family: stitch;
  font-weight: 400;
  font-size: 0.8em;
  color: #b62a00;
  z-index: 1;
}

.cross-stitch {
  grid-column: 2;
  grid-row: 1;

  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid;
  box-shadow: 0 0 0 5px rgb(255, 183, 0), 0 0 0 7px #000,
    0 1px 20px 0 rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  background-image: radial-gradient(circle, #ccc 15%, transparent 15%);
  background-repeat: repeat;
  background-size: 0.5rem 0.5rem;
  background-position: center center;
  z-index: 5;
}

/*weather api*/
.temperature {
}
h1 {
  font-size: 80px;
  color: blueviolet;
  font-weight: 700;
}
span {
  font-size: 80px;
  color: blueviolet;
  margin-left: 20px;
}
