body {
  background: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#wrapper {
  display: grid;
  place-items: center;
  height: 95vh;
  resize: none;
  overflow: hidden;
}
.bubble {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}
