* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  overflow: hidden;
}

.containerGrid {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(11, minmax(10%, 100%));
  grid-auto-rows: minmax(10%, 100%);
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.background {
  grid-column: 1 / 12;
  grid-row: 1 / 12;
  overflow: hidden;
  background-image: url(img/ricknmorty.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: -5;
}
.tvStatic {
  grid-column: 6 / 7;
  grid-row: 6 / 7;
  align-self: center;
  justify-self: center;
  margin-left: 1.5em;

  padding-bottom: 1em;
  background-image: url(/img/giphy.gif);
  height: 30em;
  width: 40em;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -11;
}
#wrapper {
  grid-column: 6 / 7;
  grid-row: 6 / 7;
  align-self: center;
  justify-self: center;
  padding-left: 0.6em;
  padding-bottom: 1em;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -10;
}

.bubble {
  height: 16em;
  width: 29em;
}

button {
  background-color: #858080;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  border: 2px solid rgb(46, 46, 46);
  outline: none;
  cursor: pointer;
}

.gifButton {
  align-self: center;
  justify-self: center;
  grid-column: 6;
  grid-row: 8;
  margin-top: 7em;
  margin-right: 3em;
  background: #df7864a2;
}

/*joke api*/

#jokeBtn {
  align-self: center;
  justify-self: center;
  grid-column: 4;
  grid-row: 3;
  margin-bottom: 5em;
  margin-right: 12em;
}

#jokeWrapper {
  width: 20em;
  z-index: 12;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.triangle-down {
  height: 1.35em;
  width: 3.5em;
  margin-top: 0.35em;
  margin-left: 1.5em;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 15px;
}

/*advice api*/

@font-face {
  src: url(/fonts/SimpleStitch-8W2g.ttf);
  font-family: stitch;
}

/*advice*/

#adviceBtn {
  align-self: start;
  justify-self: start;
  grid-column: 9;
  grid-row: 7;
  margin-left: 3em;
  margin-top: 2em;
}

#getAdviceData {
  width: 20em;
  z-index: 12;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 15px;
  border: 2.5px solid black;
  cursor: pointer;
}

#getAdviceData:before {
}

/*weather api*/

/*weather*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.temperature {
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 4;

  margin-left: 13.2em;
  margin-top: -5em;
}

.temperature-degree {
  /*font-family: "Architects Daughter", cursive;*/
  color: #ffffff;
  font-size: 3em;
  line-height: 1em;
}

/*Thermostat*/
/* Thermometer column and text */
.thermometer {
  grid-column: 2;
  grid-row: 4;

  align-self: center;
  justify-self: center;
  margin-left: -4em;
  margin-top: -4em;
  width: 1em;
  height: 5em;

  background: linear-gradient(
    top,
    #fff 0%,
    #fff 50%,
    #db3f02 50%,
    #db3f02 100%
  );
  border-radius: 22px 22px 0 0;
  border: 2px solid black;
  border-bottom: none;

  box-shadow: inset 0 0 0 3px #fff;
  color: #4a1c03;
  z-index: 1;
}

/* Thermometer Bulb */
.thermometer:before {
  content: " ";
  width: 1.5em;
  height: 1.5em;
  display: block;

  align-self: center;
  justify-self: center;

  margin-left: -0.5em;
  margin-top: 4em;

  /* Place the bulb under the column */

  background: #dd7b68;
  border-radius: 44px;
  border: 2px solid black;
  box-shadow: inset 0 0 0 3px #fff;
}

/* This piece here connects the column with the bulb */

.line {
  content: " ";
  width: 0.5em;
  height: 5rem;

  padding-top: 1em;
  margin-top: -6.7em;
  margin-left: 0.1em;
  align-self: center;
  justify-self: center;

  border-radius: 1em;

  background: #dd7b68;
}

.flux {
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 3;

  color: black;
  font-weight: 500;
  margin-left: 1.5em;
  font-size: 1vw;
  line-height: 1vw;
  /*text-shadow: 0 0 1vw #2356ff;*/
}

/*.flux {
  animation: flux 5s linear infinite;
  -moz-animation: flux 5s linear infinite;
  -webkit-animation: flux 5s linear infinite;
  -o-animation: flux 5s linear infinite;
}*/

/*@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 1vw #1041ff, 0 0 1vw #1041ff,
      0 0 1vw #1041ff, 0 0 0.1vw #8bfdfe, 0.1vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.1vw #082180, 0 0 1.1vw #082180, 0 0 1vw #082180,
      0 0 1vw #082180, 0 0 0.1vw #082180, 0.1vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}*/
