body,
html {
  height: 100%;
}
.background {
  background-image: url(img/ricknmorty.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  overflow: none;
  z-index: 5;
}
#wrapper {
  position: relative;
  padding-top: 17em;
  padding-left: 39em;
  z-index: -5;
}
.bubble {
  width: 416px;
  height: 232px;
}
