* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html {
  background-color: black;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(img/ricknmorty.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 10;
}

#wrapper {
  position: absolute;
  top: 44.75%;
  left: 50.2%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

.bubble {
  height: 16.6rem;
  width: 28.8rem;
}

button {
  height: 4em;
  width: 1em;
  border-radius: 1em;
  grid-column: 5 / span 1;
  grid-row: 5;
  height: 5px;
}

#jokeWrapper {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 20em;
  transform: translate(-50%, -50%);
  z-index: 12;
  color: rgb(255, 255, 255);
}
