@font-face {
  src: url(/fonts/SimpleStitch-8W2g.ttf);
  font-family: stitch;
}

.stitch-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 11;
  padding: 2rem;
}

.advice {
  grid-column: 2 / span 1;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  font-family: stitch;
  font-weight: 600;
  font-size: 1.1em;
  color: rgb(182, 42, 0);
}

.cross-stitch {
  grid-column: 3 / span 1;
  grid-row: 2;
  display: grid;
  grid: repeat(50, 6px) / repeat(50, 6px);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid;
  box-shadow: 0 0 0 8px rgb(255, 183, 0), 0 0 0 11px #000,
    0 1px 20px 0 rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  padding: 5em 2.75em 0.5em;
  background: #f0f0f0;
  background-image: radial-gradient(circle, #ccc 15%, transparent 15%);
  background-repeat: repeat;
  background-size: 6px 6px;
  background-position: -0.5px -0.5px;
}
