@font-face {
    src: url(/fonts/SimpleStitch-8W2g.ttf);
    font-family: stitch;
}

.stitch-board {
    grid-column: 5/ span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 11;
    padding-bottom: 1.2em;
}

.advice {
    grid-column: 2 / span 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    font-family: stitch;
    font-weight: 600;
    font-size: 0.5em;
    color: rgb(182, 42, 0);
    padding: 10px;
}

.cross-stitch {
    grid-column: 2 / span 1;
    grid-row: 2;
    display: grid;
    grid: repeat(50, 6px) / repeat(50, 6px);
    width: 1rem;
    height: 1rem;
    margin: auto;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0 0 0 8px rgb(255, 183, 0), 0 0 0 11px #000, 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    padding: 5em 2.75em .5em;
    background: #f0f0f0;
    background-image: radial-gradient(circle, #ccc 15%, transparent 15%);
    background-repeat: repeat;
    background-size: 6px 6px;
    background-position: -.5px -.5px;
}